body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";

}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.6%;
    border-radius: 15%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#container{
    margin: 0 auto;
    max-width: 600px;
}

h1{
    text-align: center;
    line-height: 1.1;
    color: white;
    background: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
}

#DisplayColor{
    font-size: 200%;
}

#message{
    display: inline-block;
    width: 20%;
}

#stripe{
    background: white;
    height: 30px;
    text-align: center;
}
.selected{
    color: white;
    background-color: steelblue;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition:  all 0.3s;
    -moz-transition:  all 0.3s;
    outline: 0;
}

button:hover{
    color: white;
    background: steelblue;
}
